<nav class="sidebar">
    <div id="sidebar-header"></div>
    <ul class="sidebar-menu">
        <li><a href="index.html"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
        <li><a href="clientes.html"><i class="fas fa-users"></i> <span>Clientes</span></a></li>
        <li><a href="entregas.html"><i class="fas fa-truck"></i> <span>Entregas</span></a></li>
        <li><a href="frota.html"><i class="fas fa-truck-monster"></i> <span>Frota</span></a></li>
        <li><a href="motoristas.html"><i class="fas fa-id-card"></i> <span>Motoristas</span></a></li>
        <li><a href="despesas.html"><i class="fas fa-file-invoice-dollar"></i> <span>Despesas</span></a></li>
        <li><a href="abastecimento.html"><i class="fas fa-gas-pump"></i> <span>Abastecimentos</span></a></li>
        <li><a href="relatorios.html"><i class="fas fa-file-pdf"></i> <span>Relatórios</span></a></li>
    </ul>
    <div class="sidebar-footer">
        <a href="configuracoes.html"><i class="fas fa-cog"></i> <span>Configurações</span></a>
        <a href="#" onclick="encerrarSessao()"><i class="fas fa-sign-out-alt"></i> <span>Sair</span></a>
    </div>
</nav> 